out
dist
node_modules
.vscode-test
.vscode
*.log
srcs/
.DS_Store
*.vsix
npm-debug.log*
.nyc_output
.idea
.project
.classpath
.c9
*.launch
.settings/
*.sublime-workspace
.history/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
.pnp.cjs
.pnp.mjs
# End of VS Code settings
.vscode-test.mjs
debug_test/